@import url('https://fonts.googleapis.com/css?family=Cabin');

body {
    margin: 0px;
    font-family: 'Cabin', sans-serif;
}

#main-container {
    display: flex;
/*    border: solid 20px aqua;*/
    width: 100%;
    flex-direction:column;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 10;
/*    border: solid 1px red;*/
    top: 0px;
    margin-top: 5px;
    font-size: 18px;
background-color: rgba(255, 255, 255, 0.8);}


#nav-flex {
    display: flex;
    padding: 0px;
    list-style: none;
}

.inline-block {
    display: inline-block;
    list-style: none;
    margin-left: auto;
  margin-right: auto;
     font-family: 'Cabin', sans-serif;
}

li {
       list-style: none;
}

a { color: black;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
}

a:hover{
    color:#BA7B0C;
}

p {
    font-family: 'Cabin', sans-serif;
}


h1 {
    font-family: 'Cabin', sans-serif;
}

#header {
    width: 630px;
    height: 312px;
    position: absolute;
    top: 100px;
    right: 50%;
    left: 50%;
    margin-left: -315px;
}

#comm-header {
    position: static;
    width: 630px;
    height: auto;
    margin-top: 40px;

}

#about {
    width: 100%;
    margin-top: 600px;
    height: 650px;
    background-color: #BA7B0C;
    display: flex;
    justify-content: center;

}

.about-header {
    position: absolute;
    top: 620px;
    right: 50%;
    left: 50%;
    margin-left: -80px;
    font-size: 50px;
    font-family: 'Cabin',
}

#about-container{
    width: 700px;
    margin-top: 140px;
    height: 550px;
    display: flex;
    justify-content: space-between
}

#greider-image {
    width: 340px;
    height: auto;
}

#greider-small {
    width: 340px;
    height: auto
}

#about-par {
    width: 320px;
    padding-top: 0px;
    padding-left: 20px;
    font-family: 'Cabin', sans-serif;
}

.class-header {
    position: relative;
    top: 50px;
    font-size: 50px;
    font-family: sans-serif;
    text-align:center;
    font-family: 'Cabin', sans-serif;

}

.instruction-header {
    position: relative;
    top: 100px;
    text-align:center;
    font-size: 30px;
    font-family: sans-serif;
    padding-bottom: 30px;
}

.class-name {
    top: 100px;
    font-size: 30px;
    font-family: sans-serif;
    align-self: center;
}

.class-image-dmone {
    position: relative;
    top: 90px;
    right: 50%;
    left: 50%;
    width: 600px;
    height: 320px;
    background-image:url("media/1x/DM1.png");
    background-size: 590px;
    margin-left: -300px;
}

.class-image-dmtwo {
    position: relative;
    top: 90px;
    right: 50%;
    left: 50%;
    width: 600px;
    height: 320px;
    background-image:url("media/1x/DM2.png");
    background-size: 590px;
    margin-left: -300px;
}

.class-image-dmthree {
    position: relative;
    top: 90px;
    right: 50%;
    left: 50%;
    width: 600px;
    height: 320px;
    background-image:url("media/1x/DM3.png");
    background-size: 590px;
    margin-left: -300px;
}

.class-image-dmfour {
    position: relative;
    top: 90px;
    right: 50%;
    left: 50%;
    width: 600px;
    height: 320px;
    background-image:url("media/1x/DM4.png");
    background-size: 590px;
    margin-left: -300px;
}

.class-image-yrbk {
    position: relative;
    top: 90px;
    right: 50%;
    left: 50%;
    width: 600px;
    height: 320px;
    background-image:url("media/1x/yearbook.png");
    background-size: 590px;
    margin-left: -300px;
}

.class-image-photo {
    position: relative;
    top: 90px;
    right: 50%;
    left: 50%;
    width: 600px;
    height: 320px;
    background-image:url("media/1x/photo.png");
    background-size: 590px;
    margin-left: -300px;
}

.class-image-cinema {
    position: relative;
    top: 90px;
    right: 50%;
    left: 50%;
    width: 600px;
    height: 320px;
    background-image:url("media/1x/cinema.png");
    background-size: 590px;
    margin-left: -300px;
}

.class-image-da {
    position: relative;
    top: 90px;
    right: 50%;
    left: 50%;
    width: 600px;
    height: 320px;
    background-image:url("media/1x/audio.png");
    background-size: 590px;
    margin-left: -300px;
}

.class-name-all {
    position: relative;
    top: 100px;
    text-align:center;
    font-size: 30px;
    font-family: sans-serif;
}

footer {
    bottom: 0px;
    position: relative;
    width: 100%;
    height: 500px;
    background-color: black;
    margin-top: 200px;
    display: flex;
    align-items: flex-start;
    justify-content:space-around;
}

#bottom-nav {
    list-style: none;
    justify-content: space-around;
    margin-top: 40px;
}

.white-text {
    color: white;
}

#bottom-image {
    height: 240px;
    width: 286px;
    background-image: url("media/comm-bottom.png");
    justify-content: space-around;
    margin-top: 40px;

}




/*start of media query small screen*/






@media only screen and (max-width: 700px){


body {
}

#header {
    width: 350px;
    height: auto;
    position: absolute;
    top: 120px;
    right: 50%;
    left: 50%;
    margin-left: -175px;

}

#comm-header {
    position: static;
    width: 350px;
    height: auto;

}

#about {
    width: 100%;
    margin-top: 500px;
    height: 1050px;
    background-color: #996600;


}
.about-header {
    top: 520px;
    font-size: 50px;
    font-family: 'Cabin', sans-serif;
}

#about-container{
    width: 100%;
    margin-top: 140px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

#greider-image {
    width: 200px;
    height: auto;
}

#greider-small {
    width: 340px;
    height: auto;
}

#about-par {
    width: 300px;
    padding: 10px;
}

.class-name {
    justify-content: center;
    top: 100px;
    font-size: 30px;
    font-family: sans-serif;
}

.class-image {
    justify-content: center;
    top: 90px;
    width: 500px;
    height: 226px;
    background-color: brown;
}

.class-name-all {
    position: relative;
    top: 100px;
    right: 50%;
    left: 50%;
    margin-left: -90px;
    font-size: 30px;
    font-family: sans-serif;
}

footer {
    bottom: 0px;
    position: relative;
    width: 100%;
    height: 500px;
    background-color: black;
    margin-top: 200px;
}

}/*end of media query small screen

/*
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/
